@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        font-family: 'Poppins', sans-serif;
    }
}

.white-sphere {
    right: 90px;
    top: 30px;
    transform: translate(-40%, 0);
    width: 50px; 
    height: 50px;
  }
  
  .yellow-glossy {
    right: 80px;
    bottom: 30px;
    transform: translate(-50%, 0);
    width: 200px;
    z-index: 0;
  }

  
  .orange-cube {
    left: 66%;
    bottom: 80px;
    transform: translate(-50%, 0);
    width: 70px; 
    height: 70px;
  }
  
  .purple-glossy {
    left: 70%;
    top: 160px;
    transform: translate(-50%, 0);
    width: 60px; 
    height: 60px;
  }
  .text-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-white to-purple-800;
  }
  
  .text-grad {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-white;
  }
